<div class="col-md-12">
    <div *ngIf="!identity || identity == null">
        <legend>Inicia sesión para acceder a más opciones.</legend>
    </div>
    <div class="col-md-12" *ngIf="identity && identity.sub">
        <form class="col-md-12">
            <div class="form-group col-md-4">
                <mat-form-field>
                    <mat-select placeholder="Mostrar" name="filter" [(ngModel)]="filter" (change)="search();">
                        <mat-option [value]="0">Todas las tareas</mat-option>
                        <mat-option [value]="2">Tareas pendientes</mat-option>
                        <mat-option [value]="3">Tareas finalizadas</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group col-md-4">
                <mat-form-field>
                    <mat-select placeholder="Ordenar por" name="order" [(ngModel)]="order" (change)="search();">
                        <mat-option [value]="1">Fecha creación ascendente</mat-option>
                        <mat-option [value]="2">Fecha creación descendente</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group col-md-4 priority-toggle" style="display: none;">
                <mat-slide-toggle color="warn" name="priority" [(ngModel)]="priority" (change)="search()">Mostrar Prioritarias</mat-slide-toggle>
            </div>
            <div class="clearfix"></div>
            <div class="form-group col-md-10">
                <input type="text" class="form-control" placeholder="¿Que tarea estás buscando?" name="searchString" [(ngModel)]="searchString" />
            </div>
            <button class="mdl-button mdl-js-button mdl-button--icon" (click)="search();">
              <i class="material-icons">search</i>
            </button>
        </form>
        <form class="col-md-12">
            <div class="clearfix"></div>
            <div class="form-group col-md-10">
                <input type="text" class="form-control" placeholder="Crear una tarea nueva..." name="title" #title="ngModel" [(ngModel)]="task.title" />
            </div>
            <button class="mdl-button mdl-js-button mdl-button--icon" (click)="createTask();">
              <i class="material-icons">add</i>
            </button>
        </form>
        <div class="all-tasks">
<!--            <table class="table table-hover table-stripped" id="tasks-list" *ngIf="tasks && tasks.length > 0">
                <tr class="task-item" *ngFor="let task of tasks">
                    <td>
                        <h4>
                            <mat-checkbox color="primary" name="updateStatus" (change)="updateStatus(task.id);"></mat-checkbox>
                        </h4>
                    </td>
                    <td>
                        <h4>
                            <span class='label lg-label label-success' *ngIf="task.status == 'finished'">
                                Finalizada
                            </span>
                            <span class='label lg-label label-warning' *ngIf="task.status == 'todo'">
                                Pendiente
                            </span>
                        </h4>
                    </td>
                    <td>
                        <h4>
                            <mat-icon color="warn" *ngIf="task.priority == true">stars</mat-icon>
                        </h4>
                    </td>
                    <td>
                        <h4>
                            <a class="task strike-through" [routerLink]="['task-edit', task.id]" *ngIf="task.status == 'finished'">{{task.title | slice:0:100}} {{task.title.length > 100 ? '[...]' : ''}}</a>
                            <a class="task" [routerLink]="['task-edit', task.id]" *ngIf="task.status == 'todo'">{{task.title | slice:0:100}} {{task.title.length > 100 ? '[...]' : ''}}</a>
                        </h4>
                    </td>
                    <td>
                        <button mat-raised-button color="primary" matTooltip="Presiona aquí para editar la tarea" [routerLink]="['task-edit', task.id]">Editar</button>
                    </td>
                </tr>
            </table>-->
            <mat-accordion>
              <mat-expansion-panel *ngFor="let task of tasks">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-checkbox color="primary" name="updateStatus" (change)="updateStatus(task.id);"></mat-checkbox>
                    &nbsp;&nbsp;&nbsp;
                    <span class='label lg-label label-success' *ngIf="task.status == 'finished'">
                        Finalizada
                    </span>
                    <span class='label lg-label label-warning' *ngIf="task.status == 'todo'">
                        Pendiente
                    </span>
                    &nbsp;&nbsp;&nbsp;
                    <mat-icon color="warn" *ngIf="task.priority == true">stars</mat-icon>
                  </mat-panel-title>
                  <mat-panel-description>
                    <div class="task strike-through" *ngIf="task.status == 'finished'">{{task.title | slice:0:70}} {{task.title.length > 70 ? '[...]' : ''}}</div>
                    <div class="task" *ngIf="task.status == 'todo'">{{task.title | slice:0:70}} {{task.title.length > 70 ? '[...]' : ''}}</div>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-form-field class="full-width">
                    <input matInput matTooltip="El nombre de la tarea" placeholder="Nombre de la tarea" name="title" #title="ngModel" [(ngModel)]="task.title" required autofocus>
                    <mat-error *ngIf="!title.valid && title.touched">
                        El nombre es <strong>requerido</strong>.
                    </mat-error>
                </mat-form-field>
                <br />
                <br />
                <mat-form-field class="full-width">
                    <textarea matInput matTooltip="Descripcion adicional sobre la tarea" placeholder="Notas adicionales" name="description" #description="ngModel" [(ngModel)]="task.description"></textarea>
                </mat-form-field>
                <br />
                <br />
                <mat-slide-toggle color="warn" name="priority" #priority="ngModel" [(ngModel)]="task.priority">Tarea Prioritaria</mat-slide-toggle>
                <br />
                <br />
                <button mat-raised-button color="primary" matTooltip="Presiona aquí para guardar la tarea">Guardar</button>
                &nbsp;&nbsp;&nbsp;
                <button mat-raised-button color="primary" matTooltip="Presiona aquí para editar la tarea" [routerLink]="['task-edit', task.id]">Editar</button>
                &nbsp;&nbsp;&nbsp;
                <button mat-raised-button color="accent" matTooltip="Presiona aquí para borrar la tarea" *ngIf='task.id != 0' (click)="deleteTask(task.id)">Borrar</button>
              </mat-expansion-panel>
            </mat-accordion>
            <div class='col-md-12' *ngIf="loading == 'hide' && (!tasks || tasks.length == 0)">
                <mat-chip-list>
                    <mat-chip color="primary" selected="true">No se han encontrado tareas</mat-chip>
                </mat-chip-list>
            </div>
            <ul class="pagination" *ngIf="tasks && totalItemsCount > 100" >
                <li>
                    <a [routerLink]="['/index', pagesPrev]" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li *ngFor="let page of pages" >
                    <a [routerLink]="['/index', page+1]">
                        {{page+1}}
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/index', pagesNext]" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
